/*
 * Template name: Kertas - Responsive Bootstrap 3 Admin Template
 * Version: 1.0.0
 * Author: VergoLabs
 */

/* SKIN SELECTOR */
.setting {
	position: fixed;
	top: 160px;
	right: 0;
	background: rgba(205, 205, 205, 0.8);
	border-radius: 5px 0px 0px 5px;
	padding: 5px 10px;
	z-index: 9999;
	cursor: pointer;
	color: #ddd;
	-webkit-transition: 0.5s;
	-moz-transition: 0.5s;
	-ms-transition: 0.5s;
	-o-transition: 0.5s;
	transition: 0.5s;
}

.skin-setting {
	padding: 10px;
	position: fixed;
	top: 130px;
	right: -150px;
	background: #fff;
	border: 3px solid rgba(205, 205, 205, 0.8);
	width: 150px;
	z-index: 9999;
	-webkit-transition: 0.5s;
	-moz-transition: 0.5s;
	-ms-transition: 0.5s;
	-o-transition: 0.5s;
	transition: 0.5s;
}

.skin-selector {
	width: 20px;
	height: 20px;
	float: left;
	cursor: pointer;
	margin: 2px 2px;
}

/* SKIN DARK */
.skin-dark .logo {
	background-color: #022531;
}

.skin-dark .navbar .nav a:hover,
.skin-dark .navbar .sidebar-toggle:hover .fa-bars {
	color: #111111;
}

.skin-dark .navbar-right .nav a:hover .caret {
	border-bottom-color: #111111;
	border-top-color: #111111;
}

.skin-dark .navbar-nav li.navbar-menu .up-arrow,
.skin-dark .navbar-nav li.profile-menu .up-arrow {
	border-color: transparent transparent #111111;
	border-bottom-color: #111111 !important;
	border-top-color: #111111 !important;
}

.skin-dark .dropdown-menu > li p {
	background-color: #111111;
	color: #ffffff;
}

.skin-dark .dropdown-menu > li.border-top {
	border-top: 2px solid #111111 !important;
}

.skin-dark .dropdown-menu > li a:hover .fa,
.skin-dark .dropdown-menu > li a:hover .glyphicon {
	color: #111111;
}

.skin-dark .left-side {
	background: #01212d;
}

.skin-dark .sidebar {
	border-bottom: 1px solid #252525;
}

.skin-dark .sidebar a {
	color: #a1a1a1;
}

.skin-dark .sidebar a:hover {
	text-decoration: none;
}

.skin-dark .user-panel > .image > img {
	border: 1px solid #444444;
}

.skin-dark .user-panel > .info,
.skin-dark .user-panel > .info > a {
	color: #eeeeee;
}

.skin-dark .sidebar-form {
	border: 0px solid #555555;
}

.skin-dark .sidebar-form input[type="text"],
.skin-dark .sidebar-form .btn {
	background-color: rgba(255, 255, 255, 0.1);
	border: 0 solid rgba(255, 255, 255, 0.1);
}

.skin-dark .sidebar-form input[type="text"] {
	color: #dddddd;
}

.skin-dark .sidebar-form input[type="text"]:focus,
.skin-dark .sidebar-form input[type="text"]:focus + .input-group-btn .btn {
	background-color: #222222;
}

.skin-dark .sidebar-form .btn {
	color: #999999;
}

.skin-dark .sidebar > .sidebar-menu > li {
	border-top: 1px solid #031c25;
	border-bottom: 1px solid #083a4d;
}

.skin-dark .sidebar > .sidebar-menu > li:first-of-type {
	border-top: 1px solid #031c25;
}

.skin-dark .sidebar > .sidebar-menu > li:first-of-type > a {
	border-top: 1px solid #083a4d;
}

.skin-dark .sidebar > .sidebar-menu > li > a:hover,
.skin-dark .sidebar > .sidebar-menu > li.active > a {
	color: #f4f4f4;
}

.skin-dark .sidebar > .sidebar-menu > li.active > a {
	border-left: 4px solid #007be9;
}

.skin-dark .sidebar > .sidebar-menu > li > .sub-menu {
	margin: 0 1px;
	background: #000000;
}

.skin-dark .sub-menu > li > a {
	color: #cccccc;
}

.skin-dark .sub-menu > li.active > a,
.skin-dark .sub-menu > li > a:hover {
	color: #ffffff;
}

/* SKIN GRAY */
.skin-gray .logo {
	background-color: #898989;
}

.skin-gray .navbar .nav a:hover,
.skin-gray .navbar .sidebar-toggle:hover .fa-bars {
	color: #7d7d7d;
}

.skin-gray .navbar-right .nav a:hover .caret {
	border-bottom-color: #7d7d7d;
	border-top-color: #7d7d7d;
}

.skin-gray .navbar-nav li.navbar-menu .up-arrow,
.skin-gray .navbar-nav li.profile-menu .up-arrow {
	border-color: transparent transparent #7d7d7d;
	border-bottom-color: #7d7d7d !important;
	border-top-color: #7d7d7d !important;
}

.skin-gray .dropdown-menu > li p {
	background-color: #7d7d7d;
	color: #ffffff;
}

.skin-gray .dropdown-menu > li.border-top {
	border-top: 2px solid #7d7d7d !important;
}

.skin-gray .dropdown-menu > li a:hover .fa,
.skin-gray .dropdown-menu > li a:hover .glyphicon {
	color: #7d7d7d;
}

.skin-gray .left-side {
	background: #7d7d7d;
}

.skin-gray .sidebar {
	border-bottom: 1px solid #a1a1a1;
}

.skin-gray .sidebar a {
	color: #cccccc;
}

.skin-gray .sidebar a:hover {
	text-decoration: none;
}

.skin-gray .user-panel > .image > img {
	border: 1px solid #7d7d7d;
}

.skin-gray .user-panel > .info,
.skin-gray .user-panel > .info > a {
	color: #eeeeee;
}

.skin-gray .sidebar-form {
	border: 0px solid #7d7d7d;
}

.skin-gray .sidebar-form input[type="text"],
.skin-gray .sidebar-form .btn {
	background-color: rgba(255, 255, 255, 0.1);
	border: 0 solid rgba(255, 255, 255, 0.1);
}

.skin-gray .sidebar-form input[type="text"] {
	color: #dddddd;
}

.skin-gray .sidebar-form input[type="text"]:focus,
.skin-gray .sidebar-form input[type="text"]:focus + .input-group-btn .btn {
	background-color: #a1a1a1;
}

.skin-gray .sidebar-form .btn {
	color: #bbbbbb;
}

.skin-gray .sidebar > .sidebar-menu > li {
	border-top: 1px solid #959595;
	border-bottom: 1px solid #555555;
}

.skin-gray .sidebar > .sidebar-menu > li:first-of-type {
	border-top: 1px solid #555555;
}

.skin-gray .sidebar > .sidebar-menu > li:first-of-type > a {
	border-top: 1px solid #959595;
}

.skin-gray .sidebar > .sidebar-menu > li > a:hover,
.skin-gray .sidebar > .sidebar-menu > li.active > a {
	color: #f4f4f4;
}

.skin-gray .sidebar > .sidebar-menu > li.active > a {
	border-left: 1px solid #ffffff;
}

.skin-gray .sidebar > .sidebar-menu > li > .sub-menu {
	margin: 0 1px;
	background: #898989;
}

.skin-gray .sub-menu > li > a {
	color: #cccccc;
}

.skin-gray .sub-menu > li.active > a,
.skin-gray .sub-menu > li > a:hover {
	color: #ffffff;
}

/* SKIN LIGHT */
.skin-light .logo {
	background-color: #e2e2e2;
}

.skin-light .navbar .nav a:hover,
.skin-light .navbar .sidebar-toggle:hover .fa-bars {
	color: #959595;
}

.skin-light .navbar-right .nav a:hover .caret {
	border-bottom-color: #959595;
	border-top-color: #959595;
}

.skin-light .navbar-nav li.navbar-menu .up-arrow,
.skin-light .navbar-nav li.profile-menu .up-arrow {
	border-color: transparent transparent #959595;
	border-bottom-color: #959595 !important;
	border-top-color: #959595 !important;
}

.skin-light .dropdown-menu > li p {
	background-color: #ececec;
	color: #555555;
}

.skin-light .dropdown-menu > li.border-top {
	border-top: 2px solid #ececec !important;
}

.skin-light .dropdown-menu > li a:hover {
	color: #959595 !important;
}

.skin-light .dropdown-menu > li a:hover .fa,
.skin-light .dropdown-menu > li a:hover .glyphicon {
	color: #959595;
}

.skin-light .left-side {
	background: #ececec;
}

.skin-light .sidebar {
	border-bottom: 1px solid #ececec;
}

.skin-light .sidebar a {
	color: #959595;
}

.skin-light .sidebar a:hover {
	text-decoration: none;
}

.skin-light .user-panel > .image > img {
	border: 1px solid #cdcdcd;
}

.skin-light .user-panel > .info,
.skin-light .user-panel > .info > a {
	color: #7d7d7d;
}

.skin-light .sidebar-form {
	border: 0px solid #555555;
}

.skin-light .sidebar-form input[type="text"],
.skin-light .sidebar-form .btn {
	background-color: rgba(255, 255, 255, 0.4);
	border: 0 solid rgba(255, 255, 255, 0.4);
}

.skin-light .sidebar-form input[type="text"] {
	color: #959595;
}

.skin-light .sidebar-form input[type="text"]:focus,
.skin-light .sidebar-form input[type="text"]:focus + .input-group-btn .btn {
	background-color: #e2e2e2;
}

.skin-light .sidebar-form .btn {
	color: #999999;
}

.skin-light .sidebar > .sidebar-menu > li {
	border-top: 1px solid #ececec;
	border-bottom: 1px solid #d7d7d7;
}

.skin-light .sidebar > .sidebar-menu > li:first-of-type {
	border-top: 1px solid #d7d7d7;
}

.skin-light .sidebar > .sidebar-menu > li:first-of-type > a {
	border-top: 1px solid #ececec;
}

.skin-light .sidebar > .sidebar-menu > li > a:hover,
.skin-light .sidebar > .sidebar-menu > li.active > a {
	color: #898989;
}

.skin-light .sidebar > .sidebar-menu > li.active > a {
	border-left: 1px solid #007be9;
}

.skin-light .sidebar > .sidebar-menu > li > .sub-menu {
	margin: 0 1px;
	background: #e2e2e2;
}

.skin-light .sub-menu > li > a {
	color: #959595;
}

.skin-light .sub-menu > li.active > a,
.skin-light .sub-menu > li > a:hover {
	color: #7d7d7d;
}

/* SKIN BLUE */
.skin-blue .logo {
	background-color: #005fb5;
}

.skin-blue .navbar .nav a:hover,
.skin-blue .navbar .sidebar-toggle:hover .fa-bars {
	color: #006cce;
}

.skin-blue .navbar-right .nav a:hover .caret {
	border-bottom-color: #006cce;
	border-top-color: #006cce;
}

.skin-blue .navbar-nav li.navbar-menu .up-arrow,
.skin-blue .navbar-nav li.profile-menu .up-arrow {
	border-color: transparent transparent #006cce;
	border-bottom-color: #006cce !important;
	border-top-color: #006cce !important;
}

.skin-blue .dropdown-menu > li p {
	background-color: #006cce;
	color: #ffffff;
}

.skin-blue .dropdown-menu > li.border-top {
	border-top: 2px solid #006cce !important;
}

.skin-blue .dropdown-menu > li a:hover .fa,
.skin-blue .dropdown-menu > li a:hover .glyphicon {
	color: #006cce;
}

.skin-blue .left-side {
	background: #006cce;
}

.skin-blue .sidebar {
	border-bottom: 1px solid #007be9;
}

.skin-blue .sidebar a {
	color: #c7c7c7;
}

.skin-blue .sidebar a:hover {
	text-decoration: none;
}

.skin-blue .user-panel > .image > img {
	border: 1px solid #005fb5;
}

.skin-blue .user-panel > .info,
.skin-blue .user-panel > .info > a {
	color: #eeeeee;
}

.skin-blue .sidebar-form {
	border: 0px solid #555555;
}

.skin-blue .sidebar-form input[type="text"],
.skin-blue .sidebar-form .btn {
	background-color: rgba(255, 255, 255, 0.1);
	border: 0 solid rgba(255, 255, 255, 0.1);
}

.skin-blue .sidebar-form input[type="text"] {
	color: #f4f4f4;
}

.skin-blue .sidebar-form input[type="text"]:focus,
.skin-blue .sidebar-form input[type="text"]:focus + .input-group-btn .btn {
	background-color: #007be9;
}

.skin-blue .sidebar-form .btn {
	color: #cccccc;
}

.skin-blue .sidebar > .sidebar-menu > li {
	border-top: 1px solid #007be9;
	border-bottom: 1px solid #00529c;
}

.skin-blue .sidebar > .sidebar-menu > li:first-of-type {
	border-top: 1px solid #00529c;
}

.skin-blue .sidebar > .sidebar-menu > li:first-of-type > a {
	border-top: 1px solid #007be9;
}

.skin-blue .sidebar > .sidebar-menu > li > a:hover,
.skin-blue .sidebar > .sidebar-menu > li.active > a {
	color: #f4f4f4;
}

.skin-blue .sidebar > .sidebar-menu > li.active > a {
	border-left: 1px solid #ffffff;
}

.skin-blue .sidebar > .sidebar-menu > li > .sub-menu {
	margin: 0 1px;
	background: #005fb5;
}

.skin-blue .sub-menu > li > a {
	color: #cccccc;
}

.skin-blue .sub-menu > li.active > a,
.skin-blue .sub-menu > li > a:hover {
	color: #ffffff;
}

/* SKIN GREEN */
.skin-green .logo {
	background-color: #008d53;
}

.skin-green .navbar .nav a:hover,
.skin-green .navbar .sidebar-toggle:hover .fa-bars {
	color: #00985a;
}

.skin-green .navbar-right .nav a:hover .caret {
	border-bottom-color: #00985a;
	border-top-color: #00985a;
}

.skin-green .navbar-nav li.navbar-menu .up-arrow,
.skin-green .navbar-nav li.profile-menu .up-arrow {
	border-color: transparent transparent #00985a;
	border-bottom-color: #00985a !important;
	border-top-color: #00985a !important;
}

.skin-green .dropdown-menu > li p {
	background-color: #00985a;
	color: #ffffff;
}

.skin-green .dropdown-menu > li.border-top {
	border-top: 2px solid #00985a !important;
}

.skin-green .dropdown-menu > li a:hover .fa,
.skin-green .dropdown-menu > li a:hover .glyphicon {
	color: #00985a;
}

.skin-green .left-side {
	background: #00985a;
}

.skin-green .sidebar {
	border-bottom: 1px solid #00b269;
}

.skin-green .sidebar a {
	color: #d7d7d7;
}

.skin-green .sidebar a:hover {
	text-decoration: none;
}

.skin-green .user-panel > .image > img {
	border: 1px solid #008d53;
}

.skin-green .user-panel > .info,
.skin-green .user-panel > .info > a {
	color: #eeeeee;
}

.skin-green .sidebar-form {
	border: 0px solid #555555;
}

.skin-green .sidebar-form input[type="text"],
.skin-green .sidebar-form .btn {
	background-color: rgba(255, 255, 255, 0.1);
	border: 0 solid rgba(255, 255, 255, 0.1);
}

.skin-green .sidebar-form input[type="text"] {
	color: #eeeeee;
}

.skin-green .sidebar-form input[type="text"]:focus,
.skin-green .sidebar-form input[type="text"]:focus + .input-group-btn .btn {
	background-color: #00a662;
}

.skin-green .sidebar-form .btn {
	color: #cccccc;
}

.skin-green .sidebar > .sidebar-menu > li {
	border-top: 1px solid #00b269;
	border-bottom: 1px solid #008d53;
}

.skin-green .sidebar > .sidebar-menu > li:first-of-type {
	border-top: 1px solid #008d53;
}

.skin-green .sidebar > .sidebar-menu > li:first-of-type > a {
	border-top: 1px solid #00b269;
}

.skin-green .sidebar > .sidebar-menu > li > a:hover,
.skin-green .sidebar > .sidebar-menu > li.active > a {
	color: #f4f4f4;
}

.skin-green .sidebar > .sidebar-menu > li.active > a {
	border-left: 1px solid #ffffff;
}

.skin-green .sidebar > .sidebar-menu > li > .sub-menu {
	margin: 0 1px;
	background: #008d53;
}

.skin-green .sub-menu > li > a {
	color: #dddddd;
}

.skin-green .sub-menu > li.active > a,
.skin-green .sub-menu > li > a:hover {
	color: #ffffff;
}

/* SKIN TURQUOISE */
.skin-turquoise .logo {
	background-color: #00a484;
}

.skin-turquoise .navbar .nav a:hover,
.skin-turquoise .navbar .sidebar-toggle:hover .fa-bars {
	color: #00af8d;
}

.skin-turquoise .navbar-right .nav a:hover .caret {
	border-bottom-color: #00af8d;
	border-top-color: #00af8d;
}

.skin-turquoise .navbar-nav li.navbar-menu .up-arrow,
.skin-turquoise .navbar-nav li.profile-menu .up-arrow {
	border-color: transparent transparent #00af8d;
	border-bottom-color: #00af8d !important;
	border-top-color: #00af8d !important;
}

.skin-turquoise .dropdown-menu > li p {
	background-color: #00af8d;
	color: #ffffff;
}

.skin-turquoise .dropdown-menu > li.border-top {
	border-top: 2px solid #00af8d !important;
}

.skin-turquoise .dropdown-menu > li a:hover .fa,
.skin-turquoise .dropdown-menu > li a:hover .glyphicon {
	color: #00af8d;
}

.skin-turquoise .left-side {
	background: #00af8d;
}

.skin-turquoise .sidebar {
	border-bottom: 1px solid #00c09b;
}

.skin-turquoise .sidebar a {
	color: #e7e7e7;
}

.skin-turquoise .sidebar a:hover {
	text-decoration: none;
}

.skin-turquoise .user-panel > .image > img {
	border: 1px solid #00a484;
}

.skin-turquoise .user-panel > .info,
.skin-turquoise .user-panel > .info > a {
	color: #eeeeee;
}

.skin-turquoise .sidebar-form {
	border: 0px solid #555555;
}

.skin-turquoise .sidebar-form input[type="text"],
.skin-turquoise .sidebar-form .btn {
	background-color: rgba(255, 255, 255, 0.1);
	border: 0 solid rgba(255, 255, 255, 0.1);
}

.skin-turquoise .sidebar-form input[type="text"] {
	color: #eeeeee;
}

.skin-turquoise .sidebar-form input[type="text"]:focus,
.skin-turquoise .sidebar-form input[type="text"]:focus + .input-group-btn .btn {
	background-color: #00c09b;
}

.skin-turquoise .sidebar-form .btn {
	color: #cccccc;
}

.skin-turquoise .sidebar > .sidebar-menu > li {
	border-top: 1px solid #00c09b;
	border-bottom: 1px solid #00a484;
}

.skin-turquoise .sidebar > .sidebar-menu > li:first-of-type {
	border-top: 1px solid #00a484;
}

.skin-turquoise .sidebar > .sidebar-menu > li:first-of-type > a {
	border-top: 1px solid #00c09b;
}

.skin-turquoise .sidebar > .sidebar-menu > li > a:hover,
.skin-turquoise .sidebar > .sidebar-menu > li.active > a {
	color: #f4f4f4;
}

.skin-turquoise .sidebar > .sidebar-menu > li.active > a {
	border-left: 1px solid #ffffff;
}

.skin-turquoise .sidebar > .sidebar-menu > li > .sub-menu {
	margin: 0 1px;
	background: #00a484;
}

.skin-turquoise .sub-menu > li > a {
	color: #dddddd;
}

.skin-turquoise .sub-menu > li.active > a,
.skin-turquoise .sub-menu > li > a:hover {
	color: #ffffff;
}

/* SKIN PURPLE */
.skin-purple .logo {
	background-color: #8100a3;
}

.skin-purple .navbar .nav a:hover,
.skin-purple .navbar .sidebar-toggle:hover .fa-bars {
	color: #8f00b5;
}

.skin-purple .navbar-right .nav a:hover .caret {
	border-bottom-color: #8f00b5;
	border-top-color: #8f00b5;
}

.skin-purple .navbar-nav li.navbar-menu .up-arrow,
.skin-purple .navbar-nav li.profile-menu .up-arrow {
	border-color: transparent transparent #8f00b5;
	border-bottom-color: #8f00b5 !important;
	border-top-color: #8f00b5 !important;
}

.skin-purple .dropdown-menu > li p {
	background-color: #8f00b5;
	color: #ffffff;
}

.skin-purple .dropdown-menu > li.border-top {
	border-top: 2px solid #8f00b5 !important;
}

.skin-purple .dropdown-menu > li a:hover .fa,
.skin-purple .dropdown-menu > li a:hover .glyphicon {
	color: #8f00b5;
}

.skin-purple .left-side {
	background: #8f00b5;
}

.skin-purple .sidebar {
	border-bottom: 1px solid #a700d3;
}

.skin-purple .sidebar a {
	color: #d7d7d7;
}

.skin-purple .sidebar a:hover {
	text-decoration: none;
}

.skin-purple .user-panel > .image > img {
	border: 1px solid #8100a3;
}

.skin-purple .user-panel > .info,
.skin-purple .user-panel > .info > a {
	color: #eeeeee;
}

.skin-purple .sidebar-form {
	border: 0px solid #555555;
}

.skin-purple .sidebar-form input[type="text"],
.skin-purple .sidebar-form .btn {
	background-color: rgba(255, 255, 255, 0.1);
	border: 0 solid rgba(255, 255, 255, 0.1);
}

.skin-purple .sidebar-form input[type="text"] {
	color: #dddddd;
}

.skin-purple .sidebar-form input[type="text"]:focus,
.skin-purple .sidebar-form input[type="text"]:focus + .input-group-btn .btn {
	background-color: #a700d3;
}

.skin-purple .sidebar-form .btn {
	color: #cccccc;
}

.skin-purple .sidebar > .sidebar-menu > li {
	border-top: 1px solid #a700d3;
	border-bottom: 1px solid #8100a3;
}

.skin-purple .sidebar > .sidebar-menu > li:first-of-type {
	border-top: 1px solid #8100a3;
}

.skin-purple .sidebar > .sidebar-menu > li:first-of-type > a {
	border-top: 1px solid #a700d3;
}

.skin-purple .sidebar > .sidebar-menu > li > a:hover,
.skin-purple .sidebar > .sidebar-menu > li.active > a {
	color: #f4f4f4;
}

.skin-purple .sidebar > .sidebar-menu > li.active > a {
	border-left: 1px solid #ffffff;
}

.skin-purple .sidebar > .sidebar-menu > li > .sub-menu {
	margin: 0 1px;
	background: #8100a3;
}

.skin-purple .sub-menu > li > a {
	color: #d7d7d7;
}

.skin-purple .sub-menu > li.active > a,
.skin-purple .sub-menu > li > a:hover {
	color: #ffffff;
}

/* SKIN RED */
.skin-red .logo {
	background-color: #9d0d00;
}

.skin-red .navbar .nav a:hover,
.skin-red .navbar .sidebar-toggle:hover .fa-bars {
	color: #ad0e00;
}

.skin-red .navbar-right .nav a:hover .caret {
	border-bottom-color: #ad0e00;
	border-top-color: #ad0e00;
}

.skin-red .navbar-nav li.navbar-menu .up-arrow,
.skin-red .navbar-nav li.profile-menu .up-arrow {
	border-color: transparent transparent #ad0e00;
	border-bottom-color: #ad0e00 !important;
	border-top-color: #ad0e00 !important;
}

.skin-red .dropdown-menu > li p {
	background-color: #ad0e00;
	color: #ffffff;
}

.skin-red .dropdown-menu > li.border-top {
	border-top: 2px solid #ad0e00 !important;
}

.skin-red .dropdown-menu > li a:hover .fa,
.skin-red .dropdown-menu > li a:hover .glyphicon {
	color: #ad0e00;
}

.skin-red .left-side {
	background: #ad0e00;
}

.skin-red .sidebar {
	border-bottom: 1px solid #d11200;
}

.skin-red .sidebar a {
	color: #d7d7d7;
}

.skin-red .sidebar a:hover {
	text-decoration: none;
}

.skin-red .user-panel > .image > img {
	border: 1px solid #9d0d00;
}

.skin-red .user-panel > .info,
.skin-red .user-panel > .info > a {
	color: #eeeeee;
}

.skin-red .sidebar-form {
	border: 0px solid #555555;
}

.skin-red .sidebar-form input[type="text"],
.skin-red .sidebar-form .btn {
	background-color: rgba(255, 255, 255, 0.1);
	border: 0 solid rgba(255, 255, 255, 0.1);
}

.skin-red .sidebar-form input[type="text"] {
	color: #dddddd;
}

.skin-red .sidebar-form input[type="text"]:focus,
.skin-red .sidebar-form input[type="text"]:focus + .input-group-btn .btn {
	background-color: #c11000;
}

.skin-red .sidebar-form .btn {
	color: #aaaaaa;
}

.skin-red .sidebar > .sidebar-menu > li {
	border-top: 1px solid #d11200;
	border-bottom: 1px solid #9d0d00;
}

.skin-red .sidebar > .sidebar-menu > li:first-of-type {
	border-top: 1px solid #9d0d00;
}

.skin-red .sidebar > .sidebar-menu > li:first-of-type > a {
	border-top: 1px solid #d11200;
}

.skin-red .sidebar > .sidebar-menu > li > a:hover,
.skin-red .sidebar > .sidebar-menu > li.active > a {
	color: #f4f4f4;
}

.skin-red .sidebar > .sidebar-menu > li.active > a {
	border-left: 1px solid #ffffff;
}

.skin-red .sidebar > .sidebar-menu > li > .sub-menu {
	margin: 0 1px;
	background: #9d0d00;
}

.skin-red .sub-menu > li > a {
	color: #dddddd;
}

.skin-red .sub-menu > li.active > a,
.skin-red .sub-menu > li > a:hover {
	color: #ffffff;
}

/* SKIN ORANGE */
.skin-orange .logo {
	background-color: #d35400;
}

.skin-orange .navbar .nav a:hover,
.skin-orange .navbar .sidebar-toggle:hover .fa-bars {
	color: #df5900;
}

.skin-orange .navbar-right .nav a:hover .caret {
	border-bottom-color: #df5900;
	border-top-color: #df5900;
}

.skin-orange .navbar-nav li.navbar-menu .up-arrow,
.skin-orange .navbar-nav li.profile-menu .up-arrow {
	border-color: transparent transparent #df5900;
	border-bottom-color: #df5900 !important;
	border-top-color: #df5900 !important;
}

.skin-orange .dropdown-menu > li p {
	background-color: #df5900;
	color: #ffffff;
}

.skin-orange .dropdown-menu > li.border-top {
	border-top: 2px solid #df5900 !important;
}

.skin-orange .dropdown-menu > li a:hover .fa,
.skin-orange .dropdown-menu > li a:hover .glyphicon {
	color: #df5900;
}

.skin-orange .left-side {
	background: #df5900;
}

.skin-orange .sidebar {
	border-bottom: 1px solid #f46100;
}

.skin-orange .sidebar a {
	color: #dddddd;
}

.skin-orange .sidebar a:hover {
	text-decoration: none;
}

.skin-orange .user-panel > .image > img {
	border: 1px solid #d35400;
}

.skin-orange .user-panel > .info,
.skin-orange .user-panel > .info > a {
	color: #eeeeee;
}

.skin-orange .sidebar-form {
	border: 0px solid #555555;
}

.skin-orange .sidebar-form input[type="text"],
.skin-orange .sidebar-form .btn {
	background-color: rgba(255, 255, 255, 0.1);
	border: 0 solid rgba(255, 255, 255, 0.1);
}

.skin-orange .sidebar-form input[type="text"] {
	color: #dddddd;
}

.skin-orange .sidebar-form input[type="text"]:focus,
.skin-orange .sidebar-form input[type="text"]:focus + .input-group-btn .btn {
	background-color: #e95d00;
}

.skin-orange .sidebar-form .btn {
	color: #bbbbbb;
}

.skin-orange .sidebar > .sidebar-menu > li {
	border-top: 1px solid #f46100;
	border-bottom: 1px solid #d35400;
}

.skin-orange .sidebar > .sidebar-menu > li:first-of-type {
	border-top: 1px solid #d35400;
}

.skin-orange .sidebar > .sidebar-menu > li:first-of-type > a {
	border-top: 1px solid #f46100;
}

.skin-orange .sidebar > .sidebar-menu > li > a:hover,
.skin-orange .sidebar > .sidebar-menu > li.active > a {
	color: #f4f4f4;
}

.skin-orange .sidebar > .sidebar-menu > li.active > a {
	border-left: 1px solid #ffffff;
}

.skin-orange .sidebar > .sidebar-menu > li > .sub-menu {
	margin: 0 1px;
	background: #d35400;
}

.skin-orange .sub-menu > li > a {
	color: #dddddd;
}

.skin-orange .sub-menu > li.active > a,
.skin-orange .sub-menu > li > a:hover {
	color: #ffffff;
}

/* SKIN YELLOW */
.skin-yellow .logo {
	background-color: #eebf00;
}

.skin-yellow .navbar .nav a:hover,
.skin-yellow .navbar .sidebar-toggle:hover .fa-bars {
	color: #edc317;
}

.skin-yellow .navbar-right .nav a:hover .caret {
	border-bottom-color: #edc317;
	border-top-color: #edc317;
}

.skin-yellow .navbar-nav li.navbar-menu .up-arrow,
.skin-yellow .navbar-nav li.profile-menu .up-arrow {
	border-color: transparent transparent #edc317;
	border-bottom-color: #edc317 !important;
	border-top-color: #edc317 !important;
}

.skin-yellow .dropdown-menu > li p {
	background-color: #edc317;
	color: #252525;
}

.skin-yellow .dropdown-menu > li.border-top {
	border-top: 2px solid #edc317 !important;
}

.skin-yellow .dropdown-menu > li a:hover .fa,
.skin-yellow .dropdown-menu > li a:hover .glyphicon {
	color: #edc317;
}

.skin-yellow .left-side {
	background: #edc317;
}

.skin-yellow .sidebar {
	border-bottom: 1px solid #ebc838;
}

.skin-yellow .sidebar a {
	color: #363636;
}

.skin-yellow .sidebar a:hover {
	text-decoration: none;
}

.skin-yellow .user-panel > .image > img {
	border: 1px solid #eebf00;
}

.skin-yellow .user-panel > .info,
.skin-yellow .user-panel > .info > a {
	color: #363636;
}

.skin-yellow .sidebar-form {
	border: 0px solid #555555;
}

.skin-yellow .sidebar-form input[type="text"],
.skin-yellow .sidebar-form .btn {
	background-color: rgba(255, 255, 255, 0.1);
	border: 0 solid rgba(255, 255, 255, 0.1);
}

.skin-yellow .sidebar-form input[type="text"] {
	color: #252525;
}

.skin-yellow .sidebar-form input[type="text"]:focus,
.skin-yellow .sidebar-form input[type="text"]:focus + .input-group-btn .btn {
	background-color: #ebcb49;
}

.skin-yellow .sidebar-form .btn {
	color: #555555;
}

.skin-yellow .sidebar > .sidebar-menu > li {
	border-top: 1px solid #ebc838;
	border-bottom: 1px solid #eebf00;
}

.skin-yellow .sidebar > .sidebar-menu > li:first-of-type {
	border-top: 1px solid #eebf00;
}

.skin-yellow .sidebar > .sidebar-menu > li:first-of-type > a {
	border-top: 1px solid #ebc838;
}

.skin-yellow .sidebar > .sidebar-menu > li > a:hover,
.skin-yellow .sidebar > .sidebar-menu > li.active > a {
	color: #000000;
}

.skin-yellow .sidebar > .sidebar-menu > li.active > a {
	border-left: 1px solid #ffffff;
}

.skin-yellow .sidebar > .sidebar-menu > li > .sub-menu {
	margin: 0 1px;
	background: #eebf00;
}

.skin-yellow .sub-menu > li > a {
	color: #363636;
}

.skin-yellow .sub-menu > li.active > a,
.skin-yellow .sub-menu > li > a:hover {
	color: #000000;
}